<section class="panel px-8 flex items-center container mx-auto drop-shadow-2xl py-4 bg-white mt-3 rounded-xl">
    <div class="panel__info flex items-center">
        <div class="panel__info__item flex items-center">
            <img src="../../../../assets/pharmacy.png" alt="icon" width="30" class="me-2">
            <h2 class="me-1 text-md">Pharmacy Name</h2>
            <p class="text-gray-400 text-sm mt-0.5">Qasem Pharmacy</p>
        </div>
        <div class="panel__info__item flex items-center ms-3">
            <img src="../../../../assets/Path 308.png" alt="icon" width="30" class="me-2">
            <h2 class="me-1 text-md">Location</h2>
            <p class="text-gray-400 text-sm mt-0.5">Qasem Pharmacy</p>
        </div>
    </div>
    
    <div class="panel__link ms-auto">
        <h2 class="me-1 text-md text-sky-600" routerLink="/orders/list">My Orders >></h2>
    </div>
</section>