/* You can add global styles to this file, and also import other style files */

// Tailwind CSS dependencies
@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";

// ng-select styles
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
    --sky-600: #0284c7
}

nav a {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}